.superior{
    height: 100%;
    margin: 0;
}
 
 ion-content {
    background: rgb(0, 0, 0);
    //background: 
    font-family: Georgia, Times, "Times New Roman", serif;
    height: 100%;
    --ion-background-color: linear-gradient(
        0deg,
        #FFF212 0%,
        #00AFEF 100%
      );
}

ion-header {
    position: absolute;
}

ion-toolbar {
    --ion-background-color: transparent;
    opacity: 0;
}

ion-card {
    --ion-background-color: transparent;
    box-shadow: none;
}
ion-card-title {
    margin-top: 10px;
    font-size: 20px;    
    color: #00AFEF;
    text-align: center;
    font-weight: 600;

}
ion-card-subtitle{
    padding-top: 10px;
    font-size: 11px;
    color: #00AFEF;
    text-align: center;
    font-weight: 300;
}
.signin-btns {
    margin-top: 10px;
    text-align: center;
}
.loginbtn {
    --ion-color-primary:rgba(245, 134, 52, 1);
}

.text-tag {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    span {
        font-size: 13px;
        font-weight: normal;
        color: #160403;
    }
}

.wrapform {
    margin-top: 4px;
}
.errors {
    font-size: small;
	color: var(--ion-color-danger);
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.password-forgot {
    text-align: right;
    ion-button {
        font-size: 12px;
        text-transform: initial;
        color: #160403;
    }
}


hr.solid {
    border-top: 3px solid #ffffff;
}

.bg-image {
    height: 11rem;
    width: auto;
    background-image: url("../../assets/images/yesNo2.png");
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  


  button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
  }
  

  .or {
    width: 10%;
    font-weight: bold;
  }
  
  .btn-ingresar:hover {
    background-color: #00AFEF;
    cursor: pointer;
  }


    
  .line {
    height: 1px;
    width: 45%;
    background-color: #e0e0e0;
    margin-top: 5px;
  }

    
  .border-line {
    border-right: 1px solid #eeeeee;
  }
  

////////////////////////////////////////////////////////
 .btn-rapido{
    border: #e0e0e0;
    display: inline-block;
    border-radius: 100%;
    color: #001a00;
    font-size: 10px;
    height: 40px;
    width: 40px;
    outline: none;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }   


  .btn-rapido:hover{
    content: attr(title);
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
}

  .btn-rapido:hover {
    background-color: rgb(238, 255, 0);
    color: #fff212;
  }
  .btn-rapido img {
    max-width: 100%;
    height: auto;
  }

  /////////////////////////////////////////////////////////////

 