<ion-header class="ion-no-border">
 
</ion-header>

<ion-content>

  <ion-card class="ion-no-margin">
    <div>
      <ion-buttons class="superior" routerLink="/login">

        <ion-back-button  defaultHref="/login">Back</ion-back-button>
      </ion-buttons>

      <ion-img src="../../assets/images/header150x40.png"></ion-img>
    </div>

    <ion-card-header class="ion-no-padding">

      <ion-card-title style="margin-top: 20px;">
        Registrarse
      </ion-card-title>



    </ion-card-header>

    <ion-card-content>

      <div class="wrapform">
        <form [formGroup]="formData">
          <div class="d-flex flex-column">

            <div class="input-group justify-content-center">

              <ion-item>
                <ion-icon name="mail-outline" class="me-1"></ion-icon>
                <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
              </ion-item>

              <ion-item lines="none">
                <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                  <p *ngIf="email.errors['required']">Email is required</p>
                  <p *ngIf="email.errors['email']">Email is invalid</p>
                </div>
              </ion-item>

            </div>


            <div class="input-group justify-content-center">

              <ion-item>
                <ion-icon name="lock-closed-outline" class="me-1"></ion-icon>
                <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
              </ion-item>

              <ion-item lines="none" class="ion-no-margin">
                <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                  <span *ngIf="password.errors['required']">Ingresar contraseña</span>
                  <span *ngIf="password.errors['minlength']">Ingresar al menos 6 dígitos</span>
                </div>
              </ion-item>

              <div class="input-group justify-content-center">

                <ion-item>
                  <ion-icon name="lock-closed-outline" class="me-1"></ion-icon>
                  <ion-input formControlName="confirmPassword" type="password"
                    placeholder="Confirmar contraseña"></ion-input>
                </ion-item>

                <ion-item lines="none" class="ion-no-margin">
                  <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                    <span *ngIf="password.errors['required']">Ingresar contraseña</span>
                    <span *ngIf="password.errors['minlength']">Ingresar al menos 6 dígitos</span>
                  </div>
                </ion-item>

                <div class="signin-btns">
                  <ion-button (click)="onRegister()" fill="solid" shape="round" class="loginbtn"
                    [disabled]="!formData.valid">Ok</ion-button>
                    <ion-button (click)="onCancel()" fill="solid" shape="round" class="cancelbtn">Cancel</ion-button>
                </div>

                <div class="errors text-center">
                  <p *ngIf="error === true">{{message}}</p>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
